
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% trans %}GNUKhata{% endtrans %} | </title>
  <link id="bootstrap" href="{{request.static_url('gkwebapp:static/css/Default.min.css')}}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/font-awesome.min.css')}}">
  <link href="{{request.static_url('gkwebapp:static/css/mainshellstyle.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div id="navhead" class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=""><img src="{{request.static_url('gkwebapp:static/images/icon.svg')}}" alt="GNUKhata Icon" style="width:42px;height:42px;margin-top: -11px" /></a>
        <a class="navbar-brand" style="pointer-events: none;">{% trans %}GNUKhata{% endtrans %}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown closebooks">
            <a href="" id="master" class="dropdown-toggle mastermenu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><u>M</u>aster</a>
            <ul class="dropdown-menu">
              <li><a  class="mastermenu" data-toggle="tab" id="addaccount" href="">{% trans %}Create Account{% endtrans %}</a></li>
              <li><a  class="mastermenu" data-toggle="tab" href="" id="editaccount">{% trans %}Edit Account{% endtrans %}</a></li>
              <li><a class="mastermenu" data-toggle="tab" href="" id="showeditorg">{% trans %}Edit Organisation Particulars{% endtrans %}</a></li>
              <li><a class="mastermenu" data-toggle="tab" id="showproject" href="">{% trans %}Cost Center{% endtrans %}</a></li>
              <li><a class="mastermenu" data-toggle="tab" id="BRS" href="">{% trans %}Bank Reconciliation Statement{% endtrans %}</a></li>
            </ul>
          </li>
          <li class="dropdown closebooks">
            <a href="" id="transaction" class="dropdown-toggle transactionmenu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}<u>T</u>ransaction{% endtrans %}</a>
            <ul class="dropdown-menu">
              <li><a class="transactionmenu" data-toggle="tab" id="showreceipt" href="">{% trans %}Receipt{% endtrans %}</a></li>
              <li><a class="transactionmenu" data-toggle="tab" id="showpayment" href="">{% trans %}Payment{% endtrans %}</a></li>
              <li><a class="transactionmenu" data-toggle="tab" id="showsales" href="">{% trans %}Sale{% endtrans %}</a></li>
              <li><a class="transactionmenu" data-toggle="tab" id="showpurchase" href="">{% trans %}Purchase{% endtrans %}</a></li>
              <li><a class="transactionmenu" data-toggle="tab" id="showcontra" href="">{% trans %}Contra{% endtrans %}</a></li>
              <li><a class="transactionmenu" data-toggle="tab" id="showjournal" href="">{% trans %}Journal{% endtrans %}</a></li>
              <li><a class="transactionmenu" data-toggle="tab" id="showsalesreturn" href="">{% trans %}Sale Return{% endtrans %}</a></li>
              <li><a class="transactionmenu" data-toggle="tab" id="showpurchasereturn" href="">{% trans %}Purchase Return{% endtrans %}</a></li>
              <li><a class="transactionmenu" data-toggle="tab" id="showcreditnote" href="">{% trans %}Credit Note{% endtrans %}</a></li>
              <li><a class="transactionmenu" data-toggle="tab" id="showdebitnote" href="">{% trans %}Debit Note{% endtrans %}</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" id="report" class="dropdown-toggle reportmenu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}<u>R</u>eport{% endtrans %}</a>
            <ul class="dropdown-menu">
              <li><a class="reportmenu" href="" data-toggle="tab" id="showviewledger">{% trans %}Ledger{% endtrans %}</a></li>
              <li><a class="reportmenu" href="" data-toggle="tab" id="showtrialbalance">{% trans %}Trial Balance{% endtrans %}</a></li>
              <li><a class="reportmenu" href="" data-toggle="tab" id="showprjstate">{% trans %}Cost Center Statement{% endtrans %}</a></li>
              <li><a class="reportmenu" href="" data-toggle="tab" id="showcashflow">{% trans %}Cash Flow{% endtrans %}</a></li>
              <li class="hideoperator"><a class="reportmenu" href="" id="showbalancesheet" data-toggle="tab">{% trans %}Balance Sheet{% endtrans %}</a></li>
              <li class="hideoperator"><a class="reportmenu" href="" data-toggle="tab" id="showprofitloss">{% trans %}Profit & Loss{% endtrans %}</a></li>
              <li><a class="reportmenu" href="" data-toggle="tab" id="fevoucher">{% trans %}Find/Edit Voucher{% endtrans %}</a></li>
              <li><a class="reportmenu" href="" data-toggle="tab" id="listofaccounts">{% trans %}List of Accounts{% endtrans %}</a></li>
              <li><a class="hideoperator hidemanager reportmenu" href="" data-toggle="tab" id="showdeletedvoucher">{% trans %}List of Deleted Vouchers{% endtrans %}</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" id="administration" class="dropdown-toggle administrationmenu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}A<u>d</u>ministration{% endtrans %}</a>
            <ul class="dropdown-menu">
              <li class="hideoperator closebooks"><a class="administrationmenu" data-toggle="tab" id="createuser" href="">{% trans %}New User{% endtrans %}</a></li>
              <li class="hideoperator hidemanager"><a class="administrationmenu" data-toggle="tab" id="REMOVEuser" href="">{% trans %}Remove User{% endtrans %}</a></li>
              <li><a class="administrationmenu" data-toggle="tab" id="showedituser" href="">{% trans %}Change Password{% endtrans %}</a></li>
              <li class="hideoperator hidemanager rollover"><a class="administrationmenu" data-toggle="tab" id="showclosebooks" href="">{% trans %}Close Books/Roll Over{% endtrans %}</a></li>
              <li class="hideoperator hidemanager"><a class="administrationmenu" data-toggle="tab" id="deleteorg" href="">{% trans %}Delete Organisation{% endtrans %}</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" id="help" class="dropdown-toggle helpmenu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}<u>H</u>elp{% endtrans %}</a>
            <ul class="dropdown-menu">
              <li><a class="helpmenu" id="manual" target="_blank" href="http://gnukhata.in/manual.pdf">{% trans %}Manual{% endtrans %}</a></li>
              <li><a class="helpmenu" data-toggle="modal" id="shortcuts" href="" data-target="#gnukhatashortcuts">{% trans %}Shortcuts{% endtrans %}</a></li>
              <li><a class="helpmenu" data-toggle="modal" id="authors" href="" data-target="#gnukhataauthors">{% trans %}Authors{% endtrans %}</a></li>
              <li><a class="helpmenu" data-toggle="modal" id="license" href="" data-target="#gnukhatalicense">{% trans %}License{% endtrans %}</a></li>
              <li><a class="helpmenu" data-toggle="modal" id="about" href="" data-target="#aboutgnukhata">{% trans %}About{% endtrans %}</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="" id="signout" class="dropdown-toggle signoutmenu"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}<u>S</u>ign Out{% endtrans %}</a>
            <ul class="dropdown-menu">
              <li><a class="signoutmenu" data-toggle="tab" id="logout" href="">{% trans %}Logout{% endtrans %}</a></li>
              <li><a class="signoutmenu" data-toggle="tab" id="changeorg" href="">{% trans %}Change Organisation{% endtrans %}</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" id="themes" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Theme{% endtrans %}</a>
            <ul class="dropdown-menu scrollable">
              <li><a class="themesmenu" id="Default" href="">{% trans %}Default{% endtrans %}<span id="Defaultspan"  class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Cerulean" href="">{% trans %}Cerulean{% endtrans %}<span id="Ceruleanspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Cosmo" href="">{% trans %}Cosmo{% endtrans %}<span id="Cosmospan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Cyborg" href="">{% trans %}Cyborg{% endtrans %}<span id="Cyborgspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Darkly" href="">{% trans %}Darkly{% endtrans %}<span id="Darklyspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Flatly" href="">{% trans %}Flatly{% endtrans %}<span id="Flatlyspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Journal" href="">{% trans %}Journal{% endtrans %}<span id="Journalspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Lumen" href="">{% trans %}Lumen{% endtrans %}<span id="Lumenspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Paper" href="">{% trans %}Paper{% endtrans %}<span id="Paperspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Readable" href="">{% trans %}Readable{% endtrans %}<span id="Readablespan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Sandstone" href="">{% trans %}Sandstone{% endtrans %}<span id="Sandstonespan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Simplex" href="">{% trans %}Simplex{% endtrans %}<span id="Simplexspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Slate" href="">{% trans %}Slate{% endtrans %}<span id="Slatespan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Spacelab" href="">{% trans %}Spacelab{% endtrans %}<span id="Spacelabspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Superhero" href="">{% trans %}Superhero{% endtrans %}<span id="Superherospan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Ubuntu" href="">{% trans %}Ubuntu{% endtrans %}<span id="Ubuntuspan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
              <li><a class="themesmenu" id="Yeti" href="">{% trans %}Yeti{% endtrans %}<span id="Yetispan" class="glyphicon glyphicon-ok" style="margin-left: 10px; display: none;" aria-hidden="true"></span><span class="sr-only">selected</span></a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" id="toolbar" class="dropdown-toggle toolbarmenu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Toolbar{% endtrans %}</a>
            <ul class="dropdown-menu scrollable">
              <li class="closebooks"><a class="toolbarmenu" data-toggle="tab" id="addaccounttb" href="">{% trans %}Create Account{% endtrans %} - F2</a></li>
              <li class="closebooks"><a class="toolbarmenu" data-toggle="tab" id="editaccounttb" href="">{% trans %}Find & Edit Account{% endtrans %} - F3</a></li>
              <li class="closebooks"><a class="toolbarmenu" data-toggle="tab" id="receipttb" href="">{% trans %}Receipt{% endtrans %} - F4</a></li>
              <li class="closebooks"><a class="toolbarmenu" data-toggle="tab" id="paymenttb" href="">{% trans %}Payment{% endtrans %} - F5</a></li>
              <li class="closebooks"><a class="toolbarmenu" data-toggle="tab" id="salestb" href="">{% trans %}Sale{% endtrans %} - F6</a></li>
              <li class="closebooks"><a class="toolbarmenu" data-toggle="tab" id="purchasetb" href="">{% trans %}Purchase{% endtrans %} - F7</a></li>
              <li class="closebooks"><a class="toolbarmenu" data-toggle="tab" id="contratb" href="">{% trans %}Contra{% endtrans %} - F8</a></li>
              <li class="closebooks"><a class="toolbarmenu" data-toggle="tab" id="journaltb" href="">{% trans %}Journal{% endtrans %} - F9</a></li>
              <li class="closebooks"><a class="toolbarmenu" data-toggle="tab" id="salesreturntb" href="">{% trans %}Sale Return{% endtrans %} - CTRL+1</a></li>
              <li class="closebooks"><a class="toolbarmenu" data-toggle="tab" id="purchasereturntb" href="">{% trans %}Purchase Return{% endtrans %} - CTRL+2</a></li>
              <li class="closebooks"><a class="toolbarmenu" data-toggle="tab" id="creditnotetb" href="">{% trans %}Credit Note{% endtrans %} - CTRL+3</a></li>
              <li class="closebooks"><a class="toolbarmenu" data-toggle="tab" id="debitnotetb" href="">{% trans %}Debit Note{% endtrans %} - CTRL+4</a></li>
              <li><a class="toolbarmenu" data-toggle="tab" id="findvouchertb" href="">{% trans %}Find/Edit Voucher{% endtrans %} - F10</a></li>
              <li><a class="toolbarmenu" data-toggle="tab" id="ledgertb" href="">{% trans %}Ledger{% endtrans %} - F11</a></li>
              <li><a class="toolbarmenu" data-toggle="tab" id="trialbalancetb" href="">{% trans %}Trial Balance{% endtrans %} - F12</a></li>
              <li><a class="toolbarmenu" data-toggle="tab" id="projectstatementtb" href="">{% trans %}Cost Center{% endtrans %} - CTRL+5</a></li>
              <li><a class="toolbarmenu" data-toggle="tab" id="cashflowtb" href="">{% trans %}Cash Flow{% endtrans %} - CTRL+6</a></li>
              <li><a class="toolbarmenu" data-toggle="tab" id="listofaccountstb" href="">{% trans %}List of Accounts{% endtrans %} - CTRL+7</a></li>
              <li class="closebooks"><a class="toolbarmenu" data-toggle="tab" id="projecttb" href="">{% trans %}Create & Edit Cost Center{% endtrans %} - ALT+P</a></li>
              <li class="closebooks"><a class="toolbarmenu" data-toggle="tab" id="brstb" href="">{% trans %}Bank Reconciliation Statement{% endtrans %} - ALT+R</a></li>
              <!--<li class="hideoperator closebooks"><a class="toolbarmenu" data-toggle="tab" id="createusertb" href="">New User - ALT+N</a></li>
              <li class="hideoperator hidemanager"><a class="toolbarmenu" data-toggle="tab" id="REMOVEusertb" href="">Remove User - ALT+U</a></li>
              <li><a class="toolbarmenu" data-toggle="tab" id="changepasswordtb" href="">Change Password - ALT+C</a></li>-->
              <li><a class="toolbarmenu" target="_blank" id="manualtb" href="http://gnukhata.in/manual.pdf">{% trans %}Manual{% endtrans %} - ALT+M</a></li>
              <!--<li><a class="toolbarmenu" data-toggle="tab" id="logouttb" href="">Logout - CTRL+L</a></li>
              <li><a class="toolbarmenu" data-toggle="tab" id="changeogtb" href="">Change Organisation - CTRL+O</a></li>-->
            </ul>
            </li>
        </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid hidden-print">
  <ul id="mainshellticker" class="shadow" style="list-style-type: none; padding: 0; overflow: hidden; background-color: rgb(248,248,248); height: 20px; border-radius: 5px;">
    <li style="float: left;"><a data-toggle="tab" style="margin-left: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="orgdata" href=""></a></li>
    <li style="float: right;"><a style="margin-right: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="yeardata" href=""></a></li>
  </ul>
</div>
<div class="visible-print printorgdetails" style="text-align:center;"><b id="printorgname"></b><br>(<i>{% trans %}FY{% endtrans %}:</i><b id="printyears"></b>)</div>
<div id="info" style="margin-top: 10px; margin-bottom: 10px;" class="container-fluid tab-pane fade in active">
  <div class="panel shadow" >
    <div class="panel-heading">
      <div class="panel-title">{% trans %}About Keyboard Shortcuts{% endtrans %}</div>

    </div>
    <div style="padding-top:20px" class="panel-body" >
          <p>{% trans %}To access submenus in the Menu Bar press{% endtrans %} "Ctrl + Shift + {% trans %}Underlined Character".{% endtrans %}</p>
          <p>{% trans %}To view Toolbar press{% endtrans %} "F1".</p>
          <p> {% trans %}To use screen specific shortcuts{% endtrans %} : </p>
          <p class="shortcut">{% trans %}If using Firefox, press{% endtrans %} "Alt + Shift + {% trans %}the underlined character".{% endtrans %}</p>
          <p class="shortcut">{% trans %}If using Google Chrome, Opera or Internet Explorer press{% endtrans %} "Alt + {% trans %}the underlined character".{% endtrans %}</p>
          <p class="shortcut">{% trans %}If using older versions of Opera(prior to version 12.1) use{% endtrans %} "Shift + Esc + {% trans %}the underlined character".{% endtrans %}</p>
          <p><a data-toggle="modal" id="shortcutslink" data-target="#gnukhatashortcuts">{% trans %}Shortcuts{% endtrans %}</a> {% trans %}are given in the Toolbar and the Help Tab of the Menu Bar.{% endtrans %}</p>
      </div>
    </div>
</div>
<div id="gnukhatashortcuts" tabindex="-1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{% trans %}Shortcuts{% endtrans %}</h4>
      </div>
      <div class="modal-body" style="text-align: justify; text-justify: inter-word;">
        <p>
          <b>{% trans %}Index Page{% endtrans %}</b>
        </p>
        <p>
          {% trans %}Select Existing Organisation{% endtrans %} - CTRL + SHIFT + E
        </p>
        <p>
          {% trans %}Create Organisation{% endtrans %} - CTRL + SHIFT + R
        </p>
        <p>
          <b>{% trans %}Menu{% endtrans %}</b>
        </p>
        <p>
          {% trans %}Master{% endtrans %} - CTRL + SHIFT + M
        </p>
        <p>
          {% trans %}Transaction{% endtrans %} - CTRL + SHIFT + T
        </p>
        <p>
          {% trans %}Report{% endtrans %} - CTRL + SHIFT + R
        </p>
        <p>
          {% trans %}Administration{% endtrans %} - CTRL + SHIFT + D
        </p>
        <p>
          {% trans %}Help{% endtrans %} - CTRL + SHIFT + H
        </p>
        <p>
          {% trans %}Sign Out{% endtrans %} -CTRL + SHIFT + S
        </p>
        <p>
          {% trans %}Toolbar{% endtrans %} - F1
        </p>
        <p>
          <b>{% trans %}Sub-Menu{% endtrans %}</b>
        </p>
        <p>
          {% trans %}Logout{% endtrans %} - CTRL - L
        </p>
        <p>
          {% trans %}Change Organisation{% endtrans %} - CTRL + O
        </p>
        <p>
          {% trans %}Create & Edit Cost Center/Project{% endtrans %} - ALT + P
        </p>
        <p>
          {% trans %}Bank Reconciliation Statement{% endtrans %} - ALT + R
        </p>
        <p>
          {% trans %}Create Account{% endtrans %} - F2
        </p>
        <p>
          {% trans %}Find & Edit Account{% endtrans %} - F3
        </p>
        <p>
          {% trans %}Receipt{% endtrans %} - F4
        </p>
        <p>
          {% trans %}Payment{% endtrans %} - F5
        </p>
        <p>
          {% trans %}Sale{% endtrans %} - F6
        </p>
        <p>
          {% trans %}Purchase{% endtrans %} - F7
        </p>
        <p>
          {% trans %}Contra{% endtrans %} - F8
        </p>
        <p>
          {% trans %}Journal{% endtrans %} - F9
        </p>
        <p>
          {% trans %}Sale Return{% endtrans %} - CTRL + 1
        </p>
        <p>
          {% trans %}Purchase Return{% endtrans %} - CTRL + 2
        </p>
        <p>
          {% trans %}Credit Note{% endtrans %} - CTRL + 3
        </p>
        <p>
          {% trans %}Debit Note{% endtrans %} - CTRL + 4
        </p>
        <p>
          {% trans %}Find & Edit Voucher{% endtrans %} - F10
        </p>
        <p>
          {% trans %}Ledger{% endtrans %} - F11
        </p>
        <p>
          {% trans %}Trial Balance{% endtrans %} - F12
        </p>
        <p>
          {% trans %}Project Statement{% endtrans %} - CTRL+5
        </p>
        <p>
          {% trans %}Cash Flow/Receipt & Payment Account{% endtrans %} - CTRL+6
        </p>
        <p>
          {% trans %}List of Accounts{% endtrans %} - CTRL+7
        </p>
        <p>
          {% trans %}Balance Sheet{% endtrans %} - CTRL+8
        </p>
        <p>
          {% trans %}Profit & Loss{% endtrans %} - CTRL+9
        </p>
        <p>
          {% trans %}New User{% endtrans %} - ALT + N
        </p>
        <p>
          {% trans %}Remove User{% endtrans %} - ALT + U
        </p>
        <p>
          {% trans %}Change Password{% endtrans %} - ALT + C
        </p>
        <p>
          {% trans %}Close Books/Roll Over{% endtrans %} - ALT + L
        </p>
        <p>
          {% trans %}Delete Organisation{% endtrans %} - ALT + I
        </p>
        <p>
          {% trans %}Manual{% endtrans %} - ALT + M
        </p>
        <p>
          {% trans %}Individual Screen{% endtrans %} - ALT + SHIFT + {% trans %}(Underlined Character){% endtrans %}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
      </div>
    </div>
  </div>
</div>
<div id="gnukhatalicense" tabindex="-1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{% trans %}License{% endtrans %}</h4>
      </div>
      <div class="modal-body" style="text-align: justify; text-justify: inter-word;">
        <p>
          {% trans %}This software is licensed under version 3 of the{% endtrans %} <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">{% trans %}GNU Affero General Public License(GNU AGPLv3){% endtrans %}</a>.
          {% trans %}You may use a newer version of the same license.{% endtrans %} {% trans %}The libraries used in this software are licensed under their respective{% endtrans %} <a href="http://www.gnu.org/licenses/license-list.html" target="_blank">{% trans %}free software licenses{% endtrans %}</a>.
        </p>
        <p style="margin-top: 30px;">
            {% trans %}Copyright © Digital Freedom Foundation 2013,2014,2015,2016.{% endtrans %} {% trans %}Visit{% endtrans %} <a href="http://gnukhata.in" target="_blank">{% trans %}gnukhata.in{% endtrans %}</a> {% trans %}for more information.{% endtrans %}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
      </div>
    </div>
  </div>
</div>
<div id="aboutgnukhata" tabindex="-1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{% trans %}About{% endtrans %}</h4>
      </div>
      <div class="modal-body" style="text-align: justify; text-justify: inter-word;">
        <p>
          <a href="http://gnukhata.in" target="_blank">{% trans %}GNUKhata{% endtrans %}</a> {% trans %}is a free and flexible software for accounting with upcoming support inventory management being developed at{% endtrans %} <a href="http://dff.org.in" target="_blank">{% trans %}Digital Freedom Foundation{% endtrans %}</a>.
          {% trans %}It is a Free and Open Source Software that supports a wide range of applications in every field of economic activity, including factory or farm-based production, point of sales accounting & inventory and work in the service sector.{% endtrans %}
        </p>
        <p>
          {% trans %}While it serves such traditional accounting requirements, its special feature is that it can support emerging sectors of the economy who are being required to keep audited accounts, such as self-help groups, craft producers and micro-finance groups.{% endtrans %}
          {% trans %}GNUKhata is highly customizable, given its open source nature.{% endtrans %}
        </p>
        <p>
          {% trans %}It can be easily transformed into Indian languages, largely unreached by existing software solutions.{% endtrans %}
          {% trans %}GNUKhata is soon to be extended to include a payroll section.{% endtrans %}
          {% trans %}We hope to take it to a stage where it can become a tool for remote banking.{% endtrans %}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
      </div>
    </div>
  </div>
</div>
<div id="gnukhataauthors" tabindex="-1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{% trans %}Authors{% endtrans %}</h4>
      </div>
      <div class="modal-body" style="text-align: justify; text-justify: inter-word;">
        <p>
          Krishnakant Mane(Founder & Project Leader) <a href="mailto:kk@dff.org.in">kk@dff.org.in</a><br />
          Arun Kelkar (Domain Expert) <a href="mailto:arunkelkar@dff.org.in">arunkelkar@dff.org.in</a><br />
          Ishan Masdekar (Project Manager) <a href="mailto:imasdekar@dff.org.in">imasdekar@dff.org.in</a><br />
          Navin Karkera (Lead Developer) <a href="mailto:navin@dff.org.in">navin@dff.org.in</a><br />
        </p>
        <p>
          Abhijith Balan <a href="mailto:abhijithb21@openmailbox.org">abhijithb21@openmailbox.org</a><br />
          Abhishek Alai <a href="mailto:abbhishek971@gmail.com">abbhishek971@gmail.com</a><br />
          Ashutosh Paralikar <a href="mailto:ashutosh@thefossblog.com">ashutosh@thefossblog.com</a><br />
          Bhavesh Bawadhane <a href="mailto:bbhavesh07@gmail.com">bbhavesh07@gmail.com</a><br />
          Dinesh Sutar <a href="mailto:dinesh.sutar@openmailbox.org">dinesh.sutar@openmailbox.org</a><br />
          Vaibhav Kurhe <a href="mailto:vaibspidy@openmailbox.org">vaibspidy@openmailbox.org</a><br />
          Vanita Rajpurohit <a href="mailto:vanita.rajpurohit9819@gmail.com">vanita.rajpurohit9819@gmail.com</a><br />
          Vinayak Kusumkar <a href="mailto:vinayakkusumkar@openmailbox.org">vinayakkusumkar@openmailbox.org</a><br />
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
      </div>
    </div>
  </div>
</div>
<div id="m_confirmdelorg" class="modal fade" tabindex="-1" role="dialog">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">{% trans %}Delete Organisation?{% endtrans %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans %}Are you sure?{% endtrans %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
          <button type="button" id="orgdel" data-dismiss="modal" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div><!-- /.modal -->
<div id="msspinmodal" tabindex="-1" class="modal text-center fade" role="dialog">
  <div class="vertical-alignment-helper">
      <div id="msspinmodalcontent" class="modal-content vertical-align-center">
        <div class="modal-body">
          <i class="fa fa-spinner fa-spin" style="color:white; font-size:50px"></i>
        </div>
      </div>
  </div>
</div>
<script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
<script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.autotab.min.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.numeric.min.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/date.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/mainshell.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/showvoucher.js')}}"></script>
</body>
</html>
