<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Ledger{% endtrans %} | {{ledgerheader["accountname"]}}</title>
    <style>
    @page {
      size: 21cm 29.7cm;
      margin: 10mm 10mm 20mm 10mm; /* change the margins as you want them to be. */
    }
    td {
      font-size: 71%;
    }

    th {
      font-size: 75%;
    }
		table { page-break-inside:auto }
		tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display: table-header-group; }
    tfoot { display: table-footer-group; }
    </style>
	</head>
	<body>
		<input type="hidden" id="accountcode" name="accountcode" value="{{ledgerrefresh["accountcode"]}}"></input>
	  <input type="hidden" id="calculatefrom" name="calculatefrom" value="{{ledgerrefresh["calculatefrom"]}}"></input>
	  <input type="hidden" id="calculateto" name="calculateto" value="{{ledgerrefresh["calculateto"]}}"></input>
	  <input type="hidden" id="financialstart" name="financialstart" value="{{ledgerrefresh["financialstart"]}}"></input>
	  <input type="hidden" id="monthlyflag" name="monthlyflag" value="{{ledgerrefresh["monthlyflag"]}}"></input>
	  <input type="hidden" id="backflag" name="backflag" value="{{ledgerrefresh["backflag"]}}"></input>
	  <input type="hidden" id="projectcode" name="projectcode" value="{{ledgerrefresh["projectcode"]}}"></input>
	  <input type="hidden" id="narrationflag" name="narrationflag" value="{{ledgerrefresh["narrationflag"]}}"></input>
	  <input type="hidden" id="projectname" name="projectname" value="{{ledgerrefresh["projectname"]}}"></input>
	  <input type="hidden" id="side" name="side" value="{{ledgerrefresh["side"]}}"></input>
		<div class="printorgdetails hidden-print" style="text-align:center;"><i>{% trans %}Ledger Account{% endtrans %}</i> : <b>{{ledgerheader["accountname"]}}</b>{% if ledgerheader["projectname"]!="" %}
		<br><i>{% trans %}Project{% endtrans %}</i> : {{ledgerheader["projectname"]}}
		{% endif %}<br><i>{% trans %}Period{% endtrans %}</i> : <b>{{ledgerheader["calculatefrom"]}}</b> {% trans %}to{% endtrans %} <b>{{ledgerheader["calculateto"]}}</div></b>
    <br>
		<div class="table-responsive printorgdetails">
			<table id="ledgertable" class="table shadow table-striped table-condensed table-bordered">
				<thead class="bg-primary">
					<tr class="visible-print">
						<th colspan="6" style="text-align:center; font-size:80%">
							<i>{% trans %}Ledger Account{% endtrans %}: </i>{{ledgerheader["accountname"]}}<br>
							<i>{% trans %}Period{% endtrans %}: </i>{{ledgerheader["calculatefrom"]}} {% trans %}to{% endtrans %} {{ledgerheader["calculateto"]}}
						</th>
					</tr>
					<tr>
						<th class="col-xs-1">{% trans %}Date{% endtrans %}</th>
						<th class="col-xs-1">{% trans %}V.No.{% endtrans %}</th>
						<th class="col-xs-1">{% trans %}Type{% endtrans %}</th>
						<th class="col-xs-4">{% trans %}Particulars{% endtrans %}</th>
						<th style="text-align:right" class="col-xs-2">{% trans %}Debit{% endtrans %}</th>
						<th style="text-align:right" class="col-xs-2">{% trans %}Credit{% endtrans %}</th>
					</tr>
				</thead>
				<tbody style="background-color:white;">
					{% for record in records %}
					<tr	value="{{record['vouchercode']}}">
						<td class="col-xs-1">
							{{record['voucherdate']}}
						</td>
						{% if record['vouchernumber']=="" %}
						<td class="col-xs-1">
						</td>
						{% else %}
						<td class="col-xs-1" style="max-width:50px; word-wrap:break-word;">
							{{record['vouchernumber']}}
						</td>
						{% endif %}
						{% if record["vouchertype"]=="" %}
						<td class="col-xs-1"></td>
						{% elif (record["vouchertype"]=="purchasereturn")%}
						<td class="col-xs-1">{% trans %}Purchase Return{% endtrans %}</td>
						{% elif (record["vouchertype"]=="salesreturn")%}
						<td class="col-xs-1">{% trans %}Sale Return{% endtrans %}</td>
						{% elif (record["vouchertype"]=="creditnote")%}
						<td class="col-xs-1">{% trans %}Credit Note{% endtrans %}</td>
						{% elif (record["vouchertype"]=="debitnote")%}
						<td class="col-xs-1">{% trans %}Debit Note{% endtrans %}</td>
						{% else %}
						<td class="col-xs-1" style="text-align:left">
							{{(record["vouchertype"]).title()}}
						</td>
						{% endif %}

						<td class="col-xs-4">
							{% for pr in record['particulars'] %}
							{{pr}} <br>
							{% endfor %}
							{% if record.ttlRunDr %}
								&nbsp&nbsp&nbsp&nbsp <i>{% trans %}Running Total{% endtrans %}:</i><br>
							{% endif %}
							{% if record['narration']!="" and narrationflag==true %}
							({{record['narration']}})
							{% endif %}
						</td>
						{%if record["advflag"]==1%}
	          <td class="col-xs-2" style="text-align:right; color:red;">
	            {% if record.Dr %}
								<b>({{record["Dr"]}})</b>
	            {% endif %}
	          </td>
	          <td class="col-xs-2" style="text-align:right; color:red;">
							{% if record.Cr %}
								<b>({{record["Cr"]}})</b>
	            {% endif %}
	          </td>
	          {%else%}
						<td class="col-xs-2" style="text-align:right">
							{{record["Dr"]}}{% for pr in record['particulars'] %}
								<br>
							{% endfor %}<i><u>{{record["ttlRunDr"]}}</u></i>
						</td>
						<td class="col-xs-2" style="text-align:right">
							{{record["Cr"]}}{% for pr in record['particulars'] %}
								<br>
							{% endfor %}<i><u>{{record["ttlRunCr"]}}</u></i>
						</td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<span style="margin:auto; display:table;">
				<button class="btn btn-sm btn-primary hidden-print" type="button" id="printback" accesskey="b">{% trans %}<u>B</u>ack{% endtrans %}</button>
				<button class="btn btn-sm btn-primary hidden-print" type="button"	id="realprint" accesskey="t">{% trans %}Prin<u>t</u>{% endtrans %}</button>
			</span>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#msspinmodal").modal("hide");
				$("title").html("GNUKhata");
				$("#printback").click(function(event) {
					var backdata = {"backflag":$("#backflag").val(),"accountcode":$("#accountcode").val(),"calculatefrom":$("#calculatefrom").val(),"calculateto":$("#calculateto").val(),"financialstart":$("#financialstart").val(),"projectcode":$("#projectcode").val(),"monthlyflag":$("#monthlyflag").val(),"narrationflag":$("#narrationflag").val()};
					if ($("#side").val()!="") {
						backdata.side=$("#side").val();
					}
					$.ajax(
						{
							type: "POST",
							url: "/showledgerreport",
							global: false,
							async: false,
							datatype: "text/html",
							data: backdata,
							beforeSend: function(xhr)
							{
								xhr.setRequestHeader('gktoken',sessionStorage.gktoken );
							}
						})
						.done(function(resp)
						{
							$("#info").html("");
							$("#info").html(resp);
						}
					);
				});
				$("#realprint").click(function(event) {
					window.print();
				});
			});
		</script>
	</body>
</html>
