<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Net Trial Balance{% endtrans %}</title>
<style type="text/css">

td {
	font-size: 65%;
	color: black;
}

th {
	font-size: 70%;
}

@page {
  size : 21cm 29.7cm;
  margin : 10mm 10mm 20mm 10mm
}
thead{
  display: table-header-group;
}
tfoot{
  display: table-footer-group;
}

</style>
</head>
<body>
	<span class="printorgdetails hidden-print" style="margin:auto; display:table;"><strong>{% trans %}Net Trial Balance{% endtrans %}</strong> {% trans %}for the period from{% endtrans %} <strong>{{from}}</strong> {% trans %}to{% endtrans %} <strong>{{to}}</strong></span>
	<div class="table-responsive printorgdetails">
		<table class="table table-condensed  table-bordered table-striped shadow">
			<thead class="bg-primary">
        <tr class="visible-print">
          <th colspan="5" style="text-align:center; font-size:80%;">
            {% trans %}Net Trial Balance for the period from{% endtrans %} {{from}} {% trans %}to{% endtrans %} {{to}}
          </th>
        </tr>
				<tr>
					<th class="col-xs-1">{% trans %}Sr. No.{% endtrans %}</th>
					<th class="col-xs-5">{% trans %}Account Name{% endtrans %}</th>
					<th style="text-align:right" class="col-xs-2">{% trans %}Debit{% endtrans %}</th>
					<th style="text-align:right" class="col-xs-2">{% trans %}Credit{% endtrans %}</th>
					<th class="col-xs-2">{% trans %}Group Name{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
				{% for record in records %}
				<tr	value="{{record['accountcode']}}">
					<td class="col-xs-1">
						{{record['srno']}}
					</td>
					<td class="col-xs-5">
            {{record['accountname']}}<br>
						{% if record.ttlRunDr %}
            &nbsp&nbsp&nbsp&nbsp {% trans %}Running Total{% endtrans %}:
						{% endif %}
					</td>
					<td class="col-xs-2" style="text-align:right">
						{% if record["advflag"]==1 and record.Dr %}
							<b>({{record["Dr"]}})</b>
						{% else %}
							{{record["Dr"]}}
						{% endif %}<br>
            <u><i>{{record["ttlRunDr"]}}</i></u>
					</td>
					<td class="col-xs-2" style="text-align:right">
						{% if record["advflag"]==1 and record.Cr %}
							<b>({{record["Cr"]}})</b>
						{% else %}
							{{record["Cr"]}}
						{% endif %}<br>
            <u><i>{{record["ttlRunCr"]}}</i></u>
					</td>
					<td class="col-xs-2">
						{{record["groupname"]}}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<span style="margin:auto; display:table;">
		<button type="button" class="btn btn-sm btn-danger hidden-print" id="tbback" accesskey="b">{% trans %}<u>B</u>ack{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-info hidden-print" id="nettbprint" accesskey="t">{% trans %}Prin<u>t</u>{% endtrans %}</button>
	</span>
	<input type="hidden" id="ledtodate" value="{{to}}">
	<input type="hidden" id="trialbaltype" value="{{trialbalancetype}}">
<script type="text/javascript">
  $(document).ready(function() {
		$("#msspinmodal").modal("hide");
    $("title").html("GNUKhata")
    $("#nettbprint").click(function(event) {
      window.print();
    });
    $("#tbback").click(function(event) {
      var date = $("#ledtodate").val().split("-");
 		 var newtodate = date[2]+"-"+date[1]+"-"+date[0];
      $.ajax(
        {
          type: "POST",
          url: "/showtrialbalancereport",
          global: false,
          async: false,
          datatype: "text/html",
          data: {"financialstart":sessionStorage.yyyymmddyear1,"calculateto":newtodate,"trialbalancetype":$("#trialbaltype").val()},
          beforeSend: function(xhr)
          {
            xhr.setRequestHeader('gktoken',sessionStorage.gktoken );
          }
        })
        .done(function(resp) {
          $("#info").html(resp);
        });

    });
  });
</script>
</body>
</html>
